img#logoInicio{
    margin-top: 10px;
    margin-left: 10px;
}

div#meio{
    width: 100%;
}

div#painel{
    width: 100%;
    height: 395px;
    position: relative;
}

#painel img {
    position: relative;
    z-index: -1;
}

/* div#painel img#arrow{
    position: absolute;
    width: 300px;
    right: 10%;
    top: 10px;
    filter: drop-shadow(0px, 0px, 75px, black);
} */
div#painel img#imagemPainel1{
    position: relative;
    width: 100%;

}

/* FAIXA DE INFO */
#faixa {
    background-color: #0b4b46;
    height: 80px;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    
    
}

#faixa .bloco-fx {
    margin-top: 10px;
}

#faixa .img-fx {
    display: inline-block;
}

#faixa .faixa-cfg {
    line-height: 20px;
    margin-left: 58px;
    margin-top: -50px;

}

#faixa h4 {
    
    color: #bdd52a;
    font-size: 17px;
}

#faixa p {
   margin-top: -3px;
    font-size: 15px;
    color: snow;
    font-weight: 300;
    
}

#faixa img {

    width: 50px;
    height: 50px;
}







.txt-categorias {
    color: black;
    margin-top: 50px;
    text-align: center;
}


/* CATEGORIAS */

#categorias{
    display: grid;
    place-items: center;
}

ul#cat1 {
    list-style: none;;
}

ul#cat1 div{
    display: inline-flex;
}

ul#cat1 li{
    margin-top: -100px;
    
    display: grid;
    place-items: center; 
    margin: 70px;
    width: 185px;
    height: 185px;
    
    font-weight: bolder;
    border-radius: 150px;
    box-shadow: 0px 0px 40px #aaaaaa;

}

ul#cat1 li:hover{
    transform: scale(1.05);
    transition: all 0.4s;
}

ul#cat1 li.verde{
    color: rgb(255, 255, 255);
    border: 5px solid rgb(45, 45, 45);
    background-color: #54735b;
    /* #5d7660
    #c9f6cf 
    #01462c, #77d52a*/
    
}
ul#cat1 li.branco{
    color: rgb(0, 0, 0);
    border: 5px solid #bdd52a;
    /* background-color: #c8caba; */
}

ul#cat1 li p{
    color: rgb(45, 45, 45);
    margin-top: -80px;
} 

div ul#cat1 li img{

    padding: 30px;
    width: 55px;
    align-items: center;
    position: relative;
    top:5px;
}


/* MELHORES OFERTAS */

#melhores-ofertas{
    
}

#titulo h1 {
    
    margin-bottom: 50px;
    color: black;
    text-align: center;
}

#ofertas {
    display: flex;
    justify-content: space-evenly;
}

#ofertas img {
    border: 1px solid blue;

    align-items: center;
    width: 290px;
    height: 300px;
}

.oferta1 {
    height: 500px;
    border: 1px solid red;
}

.oferta1 p {
    text-align: center;
}

.oferta1 h4 {
    color: #bdd52a;
    text-align: center;
}


/* IMAGENS DO MEIO */

#c-meio {
    margin-top: 130px;
    display: flex;
    justify-content: space-evenly;
}

#c-meio img {
    border-radius: 50px;
    width: 600px;
    height: 350px;
}

#c-meio img:hover {
    transform: scale(1.03);
    transition: all 0.5s;
}

/* DESTAQUES */

#destaques {
    margin-top: 130px;
    margin-bottom: 130px;
}

#destaques h1 {
    margin-bottom: 50px;
    text-align: center;
}

/* DEPOIMENTOS */

#depoimentos {
    display: grid;
    place-items: center;
}

#depoimentos div#comment{
    margin-top: 60px;
    margin-bottom: 60px;
    width: 500px;
    height: 400px;
    /* border: 2px solid black; */
    display: grid;
    place-items: center;
    /* justify-content: center; */
}

#depoimentos h1 {
    text-align: center;
}

#depoimentos div#comment div#informacaoPessoa{
    border-radius: 20px;
    background-color: #54735b;
    padding: 30px;
    width: 100%;
}

#depoimentos div#avaliacao{
    color: white;
    position: absolute;
    right: 10px;
}

#depoimentos div#comment p#pessoa{
    font-size: 25pt;
    text-align: center;
    font-weight: bolder; 
    color: white;
    text-shadow: black;
    border-radius: 20px;
}

#depoimentos div#comment div#recomendacao{
    background-color: rgb(228, 228, 228);
    box-shadow: 0px 0px 4px rgb(155, 155, 155);
    text-align: center;
    padding: 20px;
    padding-bottom: 20px;
    font-size: 20pt;
    width: 90%;
    border-radius: 10px;
}

div#recomendacao p{
    vertical-align: bottom;
}





#newsletter {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
    background-color: #0b4b46;

}

#newsletter #titulo {
    margin-top: 20px;
    color: white;
    font-weight: bold;
}

#newsletter #titulo h1 {
    color: white;
    font-size: 27px;
}

#newsletter #titulo h3 {
    font-weight: 400;
    font-size: 15px;
    margin-top: -60px;
}

#newsletter #inputs {
    
}

#newsletter #inputs input {

    margin-top: 15px;
    border: none;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 30px;
    border-radius: 10px;
    width: 150px;
    height: 60px;
}

.cadastro {
    
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #bdd52a;
}

#final {
    background: none;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

#final img {
    
    margin-bottom: 20px;
    width: 200px;
    height: 80px;
}