img#logoInicio{
    margin-top: 10px;
    margin-left: 10px;
}

div#painel{
    display: grid;
    /* place-items: center; */

    /* background-image: url(/imgs/textureBg2.jpg); */
    /* background-image: linear-gradient(#01462c, #77d52a);
     */
    background-image: url(../imgs/painel/pexels-elias-tigiser-2757549.jpg);
    background-position:top;
    background-repeat: no-repeat;
    position: relative;
}
div#painel img#arrow{
    position: absolute;
    width: 300px;
    right: 10%;
    top: 10px;
    filter: drop-shadow(0px, 0px, 75px, black);
}

div#promo1{
    margin-left: 5%;
    width: 946px;
    height: 312px;
}

div#promo1 p#title1{
    position: relative;
    text-align: right;
    font-size: 25pt;
    font-weight: bold;
    top: 50px;
    right: 10px;
    color: white;
}
div#promo1 p#subtitle1{
    position: relative;
    text-align: right;
    font-size: 18pt;
    font-weight: 280;
    top: 60px;
    right: 15px;
}
div#promo1 img{
    position: absolute;
}

img#salmao{
    bottom: -15%;
    margin-left: 300px; 
    width: 150px !important;  
}
img#saladaPreta{
    margin-left: 180px;
    top: 14%;
    width: 230px;
    rotate: 20deg;

}
img#saladaTigela{
    rotate: -30deg;
    margin-left: 370px;
    bottom: 30%;
    height: 45%;
}
img#mulher{
    margin-left: 2%;
    /* margin-top: 36px; */
    margin-top: 47.5px;
    transform: scaleX(-1);
    width: 250px;
}


/* FAIXA DE INFO */
#faixa {
    background-color: #0b4b46;
    height: 80px;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    
    
}

#faixa .bloco-fx {
    margin-top: 10px;
}

#faixa .img-fx {
    display: inline-block;
}

#faixa .faixa-cfg {
    line-height: 20px;
    margin-left: 58px;
    margin-top: -50px;
    

    
    
}




#faixa h4 {
    
    color: #bdd52a;
    font-size: 17px;
}

#faixa p {
   margin-top: -3px;
    font-size: 15px;
    color: snow;
    font-weight: 300;
    
}

#faixa img {

    width: 50px;
    height: 50px;
}







.txt-categorias {
    color: black;
    margin-top: 50px;
    text-align: center;
}


/* CATEGORIAS */

#categorias{
    display: grid;
    place-items: center;

   
}

ul#cat1 {
    list-style: none;;
}

ul#cat1 div{
    display: inline-block;
}

ul#cat1 li{
    margin-top: -100px;

    display: grid;
    place-items: center; 
    margin: 70px;
    width: 185px;
    height: 185px;
    
    font-weight: bolder;
    border-radius: 150px;
    box-shadow: 0px 0px 40px #aaaaaa;

}

ul#cat1 li:hover{
    transform: scale(1.1);
    transition: all 0.8s;
}

ul#cat1 li.verde{
    color: rgb(255, 255, 255);
    border: 5px solid rgb(45, 45, 45);
    background-color: #54735b;
    /* #5d7660
    #c9f6cf 
    #01462c, #77d52a*/
    
}
ul#cat1 li.branco{
    color: rgb(0, 0, 0);
    border: 5px solid #bdd52a;
    /* background-color: #c8caba; */
}

ul#cat1 li p{
    color: #014641;
    margin-top: -80px;
} 

div ul#cat1 li img{

    padding: 30px;
    width: 55px;
    align-items: center;
    position: relative;
    top:5px;
}
