@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

#topo{
    
}

#msg {
   
    height: 35px;
    width: 100%;
    background-color: #BDD52A;
}

#msg p {
    padding-top: 4px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #553f0f;
    font-weight: bold;

}

#info {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    background-color: #014641;
}

#logo {
    
    margin-top: 10px;    
    margin-left: 100px;
    
}

#logo img{
    width: 250px;
    height: 80px;
    
}

#pesquisar {
    margin-left: 100px;
    line-height: 85px;
}

#search{
    box-shadow: 5px black;
    border: none;
    width: 350px;
    padding: 10px;
    border-radius: 7px;
}



#search-btn {
    background-color: white;
    font-size: 10px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
}


/* NAVEGAÇÃO PRINCIPAL  */

.navprincipal {

}

.navprincipal ul {

}

.navprincipal ul li{
    padding-left: 50px;
    display: inline;
    list-style: none;
}

.navprincipal ul li a{
    font-size: 15px;
    line-height: 80px;
    font-weight: bold;
    text-decoration: none;
    color: #bdd52a;
}

/* NAVEGAÇÃO SECUNDARIA */

.navsecundaria {
    height: 50px;
    width: 100%;
    background-color: white;
    
}

.navsecundaria ul {
    margin-left: 230px;
}

.navsecundaria ul li {
    display: inline;

}

.navsecundaria ul li a {
    padding-right: 100px;
    line-height: 50px;
    font-weight: 500;
    text-decoration: none;
    color: #014641;
    font-size: 17px;
}

.navsecundaria i {
    font-size: large;
    color: #014641;
}


.navsecundaria .destali {
    display: inline-block;
    width: 130px;
    height: 47px;
    text-align: center;

    border-radius: 5px;

    color: #BDD52A;
    background-color: #014641;
}

.destali a {
    
    color: #BDD52A;
}